<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>4808</string>
	<key>CFBundleShortVersionString</key>
	<string>2022.03.30</string>
	<key>CFBundleVersion</key>
	<string>2022.03.30d1</string>
	<key>ProjectName</key>
	<string>MobileBluetooth</string>
	<key>SourceVersion</key>
	<string>160066002000000</string>
</dict>
</plist>
